$bleu-principal: #697daf;

html, body, div, span, h1, h2, h3, p, td, ul, li, img{
    margin: 0;
    padding: 0;
    border:0;
    font-family: "Lucida Sans", "Arial", sans-serif;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
}

div, h1, h2, h3, p{
    color: $bleu-principal;/*555*/
    font-weight: initial;
}

p, li{
    color: #898989;
}

p{
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 0.85em;
    margin: 20px 0;
}

body{
    background: #E8E8E8;/*#505E83*/
}

.fond-bleu{
    background: $bleu-principal;
}
.fond-bleu *{
    color:#eee;
}

.fond-clair{
    background:#eee;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
}

#div-images-gallerie-projets{
    background:#ddd;/*bleu fonce 283d6f     gris fonce 555*/
}
#div-images-gallerie-projets *{
    color: $bleu-principal;
}

a{
    color:orange;
    text-decoration: none;

  &:hover{
    text-decoration: underline;
  }
}

h1{
    font-size: 2.8em;
    font-variant: small-caps;
}

h2{
    font-size: 1.7em;
    /*margin-bottom: 50px;bug*/
}

.centrer{
    text-align: center;
    padding: 70px 0;
}

.inside{
    max-width: 950px;
    margin: auto;
}

#table-specialites {
  img{
    width: 25px;
  }

  ul{
    text-align: left;
    margin-left: 32%;
    list-style-type: circle;
    list-style-image: url('../../images/tiret.png');
    list-style-type: none;
    list-style-image: none;
    vertical-align: top;
  }

  td{
    height: 100%;
    width:33%;
    vertical-align: top;
    padding-top:40px;
  }

  h3{
    margin-top:7px;
  }
}

table {
    width: 100%;
}

#table-confiance {
  td{
    //width: 33%;
  }

  img{
    max-height: 50px;
  }
}

#table-cv td{
    width:33%;
}

.fa-li {
  position: initial;
}


.curriculum-vitae{
    color:#aaa;
    font-size: 2.5em;
    font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
}

.lien-arrondi{
    display:inline-block;
    border-radius:50%;
    color:#eee;
    font-variant: small-caps;
}


.conteneur-images{
    text-align: left;

  img{
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;

    height: 125px;
    opacity: 0.8;
  }

  img:hover{
    cursor: pointer;
    /*opacity: 1;*/
  }
}

#vue-grand, #vue-grand-voile{
    visibility: hidden;
}

#preview-cv{
    /*width: 50%;
    border: 1px solid #DDD;*/
    border-radius: 50%;
}

#lien-cv-test-parallax{
    display:inline-block;width: 350px;height:350px;background:url('../../images/CV-MOSSERI_gris.jpg') center top no-repeat;border-radius: 50%;
    border: 3px solid rgba(0,0,0,0);
}

#lien-cv-test-parallax:hover{
    border-color: orange;
}

#icones-footer{
    margin: 0 15px;

  img{
    /*height: 25px;*/
  }

  a{
    display:inline-block;
    width:30px;
    height:30px;
    margin: 0 1px;
    position:relative;
    top:-5px;
    border-radius: 50%;
  }
}

/*#icones-footer a, #icones-footer a:hover{
    background: url('../../images/icones_site_v3_footer.png') no-repeat;
    background-size: auto 60px;
}
#icones-footer #lienIn{
    //background: url('logo-in.png') no-repeat;
    background-position: left top;
}
#icones-footer #lienContact{
    //background: url('enveloppe.png') no-repeat;
    background-position: left bottom;
}
#icones-footer #lienIn:hover{
    //background: url('logo-in_hover.png') no-repeat;
    background-position: right top;
}
#icones-footer #lienContact:hover{
    //background: url('enveloppe_hover.png') no-repeat;
    background-position: right bottom;
}

#icones-footer #lienIn, #icones-footer #lienContact, #icones-footer #lienIn:hover, #icones-footer #lienContact:hover{
    //background-size: auto 30px;
}*/

#icones-footer {
  * {
    color: initial;
  }

  .fa-stack-2x {
    color: #eee;
  }
  .fa-stack-1x {
    color: $bleu-principal;
  }

  .fa-stack:hover {
    .fa-stack-2x {
      color: orange;
    }
  }
}


#lien-logo-header img{
    /*-moz-filter: blur(add = 0, direction = 300, strength = 10);*/
}

.afficher_en_mobile{
    display:none;
}




#vue-grand-voile, #vue-grand-descr, #vue-grand-fermer{
  opacity:0;
  visibility: hidden;
}
#vue-grand-voile, #vue-grand, #vue-grand-descr, #vue-grand-fermer{
  position:fixed;
}
#vue-grand-voile, #vue-grand{
  top:0;left:0;
}

#anim-wrapper, #anim-rond{
  position:absolute;
  pointer-events: none;
}


/*style_new*/

#fond-persistant {
//z-index: 49;
    position: absolute;
    left: 0; top: 0; width: 100%; height: 100%;
    background: $bleu-principal;
}
#div-arrondi {
//z-index: 50;
    position: absolute; border-radius: 50%; background: #E8E8E8;
}
#content-front {
    opacity: 0;
//z-index: 51;
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
    text-align: center;
//background: url('images/jm4_export.png') no-repeat center transparent; background-size: 100px;
}
#texttitlenextgen * {
    color: #eee;
    text-align: left;
    margin-left: 10px;
}
#imggggggggg, #texttitlenextgen {
    position: relative;
    left: 0;
}
#imggggggggg {
    display: inline-block; vertical-align: middle;
}
#texttitlenextgen {
    display: inline-block; vertical-align: middle; overflow: hidden;
}
#texttitlenextgen > * {
    position: relative; left: -100%;
}
.helper {
    display: inline-block; height: 100%; vertical-align: middle;
}

body {
    overflow-x: hidden;
}

/*#first-screen-wrapper, #first-screen-wrapper * {
    overflow: hidden;
}

#first-screen-wrapper {
    z-index: 60;
}
#partie-2 {
    z-index: 61;
}*/

#table-confiance {
  img {
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* Firefox 35+ */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  }

  /* Disable grayscale on hover */
  img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
  }
}
